<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu (Top Level) -->
    <menuitem id="menu_real_estate_root"
              name="Real Estate"
              sequence="10"/>

    <!-- Properties Menu -->
    <menuitem id="menu_property"
              name="Properties"
              parent="menu_real_estate_root"
              action="action_property"
              sequence="10"/>

    <!-- Tenants Menu -->
    <menuitem id="menu_tenant"
              name="Tenants"
              parent="menu_real_estate_root"
              action="action_tenant"
              sequence="20"/>

    <!-- Maintenance Menu -->
    <menuitem id="menu_maintenance"
              name="Maintenance"
              parent="menu_real_estate_root"
              action="action_maintenance_request"
              sequence="30"/>

    <!-- Leases Menu -->
    <menuitem id="menu_lease"
              name="Leases"
              parent="menu_real_estate_root"
              action="action_lease"
              sequence="40"/>
    <!-- Payments Menu -->
    <menuitem id="menu_payment"
              name="Payments"
              parent="menu_real_estate_root"
              action="action_payment"
              sequence="50"/>          

</odoo>